<div class="container-fluid">

    <!--common header-->
    <div id="header">
        <div class="row">
            <div class="col-sm-12 headerNavContainer">
                <div class="col-sm-12 headNavUnit first">
                    <div class="glyphicon glyphicon-home scale_1_6"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Body -->
    <div class="row">
        <div class="col-sm-12">1</div>
        <div class="col-sm-12">2</div>
        <div class="col-sm-12">3</div>
    </div>

    <!--common footer-->
    <div id="footer">
        <div class="row">
            <div class="col-sm-12 footerNavContainer">
                <div class="col-sm-3 footerNavUnit first">
                    <div class="glyphicon glyphicon-home scale_1_6"></div>
                </div>
                <div class="col-sm-3 footerNavUnit">
                    <div class="glyphicon glyphicon-cog scale_1_6"></div>
                </div>
                <div class="col-sm-3 footerNavUnit">
                    <div class="glyphicon glyphicon-menu-left scale_1_6"></div>
                </div>
                <div class="col-sm-3 footerNavUnit last">
                    <div class="glyphicon glyphicon-menu-right scale_1_6"></div>
                </div>
            </div>
        </div>
    </div>
</div>